.row {
    position: relative;
}

.button-row {
    margin-bottom: 25px;
}

.category-title {
    font-size: 48px;
    text-align: center;
}

.category-text-section {
    font-size: 16px;
    padding: 25px;
    padding-bottom: 5px;
    border-radius: 15px;
    background-color: rgb(41, 41, 41);
    max-width: 900px;
    margin: 0 auto;
}

.txt-center {
    text-align: center;
}

.p-spacing {
    margin-top: 20px;
    line-height: normal;
}

.category-description {

}
