.riser {
    position: relative;
    z-index: 1;
}

.app-input {
    width: 100%;
    background-color: rgb(49, 50, 56);
    color: white;
}

.input-area {
    padding-left: 2%;
    padding-right: 2%;
}

.application-form-wrapper {
    background-color: rgb(41, 41, 41);
}

.application-form {
    max-width: 1200px;
    margin: 0 auto;
}

.app-label {
    margin-bottom: 7px;
    font-weight: 400;
    color: white;
    font-size: 18px;
}

.application-section {
    margin-bottom: 25px;
}