/* Shop in store page */
.shop-card {
    padding: 20px;
}

.hide-overflow {
    overflow: hidden;
}

@keyframes swoop-in {
    0% {
        position: relative;
        left: 1200px
    }
    80% {
        position: relative;
        left: -20px;
    }
    100% {
        position: relative;
        left: 0px;
    }
}

.categories {
    width: 70%;
    margin: 0 auto;
    animation-name: swoop-in;
    animation-duration: 1s;
}

/* Contact Us Page */
.contact-form {
    margin: 0 auto;
}

/* Shop By Category Page */
