.jumbotron {
    overflow: hidden;
    position: relative;
    padding-top: 0px;
    background-color: unset;
    text-align: center;
    z-index: 0;
}

.top-row {
    padding: 40px;
    border-radius: 15px;
    margin: 20px;
}

.wrapper {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}

.main-txt {
    position: relative;
    line-height: 33px;
    color: lightgray;
    z-index: 1;
}

.lead {
    font-weight: 500;
}

.my-4 {
    background: lightgray;  
}

@media only screen and (max-width:800px) {
    .jumbotron {
        padding-top: 25px;
    }
    .top-row {
        margin-top: 0px;
        padding: 5px;
    }
  }
  @media only screen and (min-width:1441px) {
    .jumbotron {
        padding-top: 6vh;
    }
    .top-row {
        margin-bottom: 10vh;
    }
  }