/* For MAPBOX GL styling */

.map-container {
    left: 33.3333%;
    margin: 25px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: 0;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .sidebarStyle {
    width: 33.3333%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    background-color: #404040;
    bottom: 0px;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }
  